<h1>UserStory editieren </h1>

<%= simple_form_for @userstory, url: user_story_path(:projekt_id => @projekt_id)  do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :sprintnumber, placeholder: 'Sprintnummer'%>

  <div class="checkbox">
  	<%= f.collection_radio_buttons :status, [['backlog', 'Backlog'] ,['inProgress', 'In Progress'], ['review', 'Review'] ,['done', 'Done']],:first, :last %> 
  </div>

  

  <%= f.button :submit, "Editieren" %>
<% end %>