<h1> neue userStory anlegen </h1>

<%= simple_form_for @user_stories, url: user_storys_path(projekt_id: @projekt_id)  do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.button :submit, "Anlegen" %>
<% end %>

<div class = "crud">
			<p><%= link_to "Zurück", projekt_path(@projekt_id) %>
</div>