<h1> Neue User Story erstellen </h1>

    <%= simple_form_for @user_stories, url: user_storys_path(projekt_id: @projekt_id)  do |f| %>
      <%= f.input :title, label: 'Titel' %>
      <%= f.input :description, label: 'Beschreibung' %>




      <div class="button">
      <%= f.button :submit, "Erstellen" %>
      </div>
    <% end %> 


<div class = "crud">
			<p><%= link_to "Zurück", user_storys_path(projekt_id: @projekt_id) %>
</div>