<h1>Planning Poker</h1>

<div class="row">

  		<div class="col-md-2 list">
  		 	<p class="ptitle">Product Backlog</p>
        	<% if @userstories.count > 0  %>
          		<div class="listcard">
	      		 	<% @userstories.each do |userstorie| %>
	      		 	 	<p> <span class="userstory_id"><%= userstorie.id %> -  </span> <%= link_to userstorie.title, user_story_path(userstorie, projekt_id: @projekt_id) %> </p>
	            	<% end %>
        		</div>
        	<% end %>
  		</div>
  		

  		
  		<%= form_tag(:action => 'createfields') do %>

  			<div class="col-md-2">
				<label> User Story Nummer eingeben: </label>
	  			<%= text_field_tag :userstory_id, params[:userstory_id], class: "form-control", required: "true", type: "number", min: "1" %>	

  			</div>



			<div class="col-md-2">
				<label> Spieleranzahl eingeben: </label>
	  			<%= number_field_tag :playernumber, params[:playernumber], class: "form-control", type: "number",required: "true", min: "2", max: "10", value: "2"%>
	  			<%= hidden_field_tag "projekt_id", @projekt_id %>
	  			<%= submit_tag "Bestätigen", class: "btn btn-default" %>
			</div>
		<% end %>
		


</div>


<div class = "crud">
			<p><%= link_to "Zurück", projekt_path(@projekt_id) %>
</div>

