<h2><span> Sprint </span> <%=@sprint.sprintnumber%></h2>
<p>Hier müssen die Unterpunkte weiter Entwickelt werden .....</p>

<div>
	<p><%= link_to "Sprint Planning", sprintplans_path(sprint_id: @sprint_id, projekt_id: @projekt_id) %></p>
	<p><%= link_to "Scrum Board", scrumboards_path(sprintnumber: @sprint.sprintnumber, projekt_id: @projekt_id ) %></p>
	<p><%= link_to "Sprint Review", sprintreviews_path(@sprint, projekt_id: @projekt_id) %></p>
	<p><%= link_to "Sprint Retrospective", sprintretros_path(@sprint, projekt_id: @projekt_id) %></p>
</div>


<div class=crud>
	<%= link_to "Zurück", sprints_path(projekt_id: @projekt_id) %>
	<%=link_to "Löschen", sprint_path(@sprint, projekt_id: @projekt_id), method: :delete, data: { confirm: "Bist du sicher ?"} %>
	
</div>