<h1>My Scrumboard ...</h1>






    <div class="row">

  		<div class="col-md-3 list">
  		 	<p>backlog</p>
        <% if @userstoriesBack.count > 0  %>
          <div class="listcard">
      		 	<% @userstoriesBack.each do |userstorie| %>
      		 	  <p><%= link_to userstorie.title, user_story_path(userstorie, projekt_id: @projekt_id) %></p>
            <% end %>
          </div>
        <% end %>
  		</div>

  		<div class="col-md-3 list">
  		 	<p>In Progress</p>
         <% if @userstoriesInPro.count > 0  %>
          <div class="listcard">
      		 	<% @userstoriesInPro.each do |userstorie| %> 
      		 	<p><%= link_to userstorie.title, user_story_path(userstorie, projekt_id: @projekt_id) %></p>
      		 	<% end %>
    		 	</div>
  		 	<% end %>
  		</div>

  		<div class="col-md-3 list"> 
  			<p>Review</p> 
        <% if @userstoriesRev.count > 0  %>
          <div class="listcard">
      			<% @userstoriesRev.each do |userstorie| %> 
      		 	<p><%= link_to userstorie.title, user_story_path(userstorie, projekt_id: @projekt_id) %></p>
      		 	<% end %>
    		 	</div>
         <% end %> 
  		</div>

  		<div class="col-md-3 list"> 
  			<p>Done</p>
        <% if @userstoriesDone.count > 0  %> 
            <div class="listcard">
        			<% @userstoriesDone.each do |userstorie| %> 
        		 	<p><%= link_to userstorie.title, user_story_path(userstorie, projekt_id: @projekt_id) %></p>
        		 	<% end %>
            </div>
           <% end %> 
  		</div>

	</div>

        



<div class = "crud">
	<p> <%= link_to "Zurück", sprint_path(id: @sprint_id, projekt_id: @projekt_id) %>
</div>