<h2><%= @projekt.name %></h2>
<p>Hier müssen die Unterpunkte weiter Entwickelt werden .....</p>

<p><%= link_to "Product Backlog", user_storys_path(projekt_id: @projekt.id) %></p>
<p><%= link_to "Sprints", sprints_path(projekt_id: @projekt.id) %></p>
<p><%= link_to "Plannigs Poker", planpokers_path(projekt_id: @projekt.id) %></p>
<p><%= link_to "Burn-down-chart", burndowncharts_path(@projekt) %></p>
<p><%= link_to "Roadmap", roadmaps_path(@projekt) %></p>

<div class=crud>
	<%= link_to "Zurück", root_path %>
	<%= link_to "Editieren", edit_projekt_path %>
	<%=link_to "Löschen", projekt_path(@projekt), method: :delete, data: { confirm: "Bist du sicher ?"} %>
</div>
